* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #040405;
}

/* HEADERr */


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    padding: 20px 10%;
    color: white;
    background-color: #040405;
}

header a {
    text-decoration: none;
}

#span {
    color: aqua;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 2px solid aqua;
}

/* HOME */


#home {
    border-bottom: 2px solid aqua;
}

.Home {
    color: white;
    height: 90vh;
    display: flex;
    font-size: 40px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #040405;
    padding: 300px;
}

/* SOBRE */


#Sobre {
    padding: 100px;
    max-width: 1300px;
    margin: auto;
    color: white;
    background-color: #15151a;
    border-radius: 20px;
    margin-bottom: 150px;
}

#Sobre h1 {
    text-align: center;
    font-size: 30px;
}

#Sobre p {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: 17px;
}

/* PROJETOS */


#Projetos {
    margin-top: 150px;
    margin-bottom: 150px;
    color: white;
    text-align: center;
}

.box {
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 50px;
    background-color: #15151a85;
    margin-top: 20px;
    color: white;
}

.box1 {
    background-color: #15151a;
    color: white;
    padding: 100px;
    margin: auto;
    border-radius: 15px;
    font-size: 25px;
    text-decoration: none;
}

.box2 {
    background-color: #15151a;
    color: white;
    padding: 100px;
    margin: auto;
    border-radius: 15px;
    font-size: 25px;
}

.box3 {
    background-color: #15151a;
    color: white;
    padding: 100px;
    margin: auto;
    border-radius: 15px;
    font-size: 25px;
}

.box1:hover {
    background-color: #15151a7b;
    cursor: pointer;
}

.box2:hover {
    background-color: #15151a7b;
    cursor: pointer;
}

.box3:hover {
    background-color: #15151a7b;
    cursor: pointer;
}

/* CONHECIMENTOS */


#Conhecimentos {
    color: white;
    text-align: center;
    padding: 50px 200px;
    background-color: #15151a;
    max-width: 1100px;
    margin: auto;

}

#Conhecimentos img {
    width: 200px;
    display: flex;
    align-items: top;
}

.habilidades {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}


/* CONTATO */ 


#Contato {
    color: white;
    text-align: center;
}

/* FOOTER */


footer {
    padding: 20px;
    background-color: #15151a;
    color: white;
    text-align: center;
    margin-top: 150px;
}

/* CONTATO */

#Contato {
    margin-top: 150px;
}

/* CONFIGURAÇÕES DA BARRA LATERAL */


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #303030;

}

::-webkit-scrollbar-thumb {
    background-color: aqua;
    border-radius: 30px;
}
