* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

/* Estilização Home */

header {
    width: 100%;
    background-color: #2d2d2d;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    position: fixed;
    top: 0;
}

#botao-menu:hover {
    color: rgb(53, 179, 179);
    border-bottom: 2px solid rgb(53, 179, 179);
}

#botao-menu {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.sobre {
    color: white;
    background-color: #272727;
    margin-top: 58px;
    height: 700px;
    padding: 200px 300px;
}

.sobre span {
    color: rgb(53, 179, 179);
}

.sobre h1, .sobre h2 {
    font-size: 30pt;
}

.sobre p {
    margin-top: 20px;
    max-width: 1100px;
    font-size: 13pt;
}

main {
    text-align: center;
    margin-top: 70px;
    padding:  50px;
}

main p {
    margin-top: 40px;
}
  
.habilidades {
    background-color: rgb(53, 179, 179);
    width: 100%;
    color: white;
    padding: 40px;
    text-align: center;
    margin-top: 40px;
}

.habilidades-imagens {
    display: inline;
}

.habilidades h1 {
    font-size: 20pt;
}

#img1, #img2, #img3 {
    width: 200px;
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.center {
    max-width: 1100px;
    text-align: left;
    margin: auto;
}

footer{
    text-align: center;
    background-color: rgb(37, 37, 39);
    padding: 15px;
    bottom: 0;
    width: 100%;
}

footer > a {
    text-decoration: none;
    color: white;
    padding: 0 5px;

}
