* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

/* Menu */

header {
    width: 100%;
    background-color: #222;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    position: fixed;
    top: 0;
}

#botao-menu:hover {
    color: rgb(53, 179, 179);
    border-bottom: 2px solid rgb(53, 179, 179);
}

#botao-menu {
    color: white;
    text-decoration: none;
    margin: 10px;
}

/* Home */

#home {
    color: white;
    background-color: #272727;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 58px;
    background-size: 100%;
    height: 832px;
    padding: 200px 300px;
}

#home h1 {
    margin-top: 100px;
}
#home span {
    color: rgb(53, 179, 179);
}

#home h1, #home h2 {
    font-size: 30pt;
}

#home p {
    margin-top: 20px;
    max-width: 1100px;
    font-size: 13pt;
}

/* Sobre */

main {
    text-align: center;
    margin-top: 70px;
    padding:  50px;
}

main p {
    margin-top: 40px;
}

/* Habilidades */
  
#habilidades {
    background-color: rgb(53, 179, 179);
    width: 100%;
    color: white;
    padding: 40px;
    text-align: center;
    margin-top: 40px;
}

#habilidades-imagens {
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    margin: auto;
}

#habilidades h1 {
    font-size: 20pt;
}

#img1, #img2, #img3 {
    width: 200px;
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.center {
    max-width: 1100px;
    text-align: left;
    margin: auto;
}

/* Projetos */

.box1 {
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 1px solid black;
    display: flex;
}

#projetos {
    background-color: #222;
    color: white;
    text-align: center;
}

#projetos h1 {
    padding: 40px;
}

/* Contato */

/* Footer */
footer{
    text-align: center;
    background-color: rgb(37, 37, 39);
    padding: 15px;
    bottom: 0;
    width: 100%;
}

footer > a {
    text-decoration: none;
    color: white;
    padding: 0 5px;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #303030;

}

::-webkit-scrollbar-thumb {
    background-color: rgb(53, 179, 179);
    border-radius: 30px;
}
