<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container py-3">
    <a class="navbar-brand fw-semibold" href="#">Dev Eduardo</a>

    <div class="d-flex justify-content-center align-items-center gap-3">
        <a class="text-dark" href="https://github.com/joaoeduardo2701/"target="_blank">
            <i class="bi bi-github fs-3"></i>
        </a>

        <a class="text-dark" href="https://github.com/joaoeduardo2701/" target="_blank">
            <i class="bi bi-linkedin fs-3"></i>
        </a>

        <a class="btn btn-lg btn-dark rounded-5 px-5" href="https://api.whatsapp.com/send?phone=5549999664798&text=Olá,%20gostaria%20de%20fazer%20um%20orçamento.
" target="_blank">Contato</a>
    </div>

  </div>
</nav>

<section id="sobre">    
    <div class="container">
        <div class="d-flex mt-4">
            <img class="img-fluid rounded-pill foto-perfil" src="foto.jpg" alt="Foto do Eduardo Padilha">
        </div>

        <h2 class="mt-5 text-center">A little about me...</h2>
        <p class="fw-semibold mt-4">Hello, my name is Eduardo and I'm a Full-Stack programmer</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta id expedita molestias vitae corrupti deleniti veritatis facilis asperiores dolores tempora? Quis recusandae illo vero blanditiis illum possimus quae ex adipisci.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit provident mollitia, voluptatibus delectus nihil dignissimos omnis eveniet, asperiores neque incidunt facere eaque vero alias, numquam ad ex odit dolores ratione!</p>
    </div>
</section>
