<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container py-2">
    <a class="navbar-brand fw-semibold" href="#">Dev Eduardo</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </div>
    </div>

  </div>
</nav>

<section id="sobre">    
    <div class="container">
        <div class="d-flex mt-4">
            <img class="img-fluid rounded-pill foto-perfil" src="foto.jpg" alt="Foto do Eduardo Padilha">
        </div>

        <h2 class="mt-5 text-center">A little about me...</h2>
        <p class="fw-semibold mt-4">Hello, my name is Eduardo and I'm a Full-Stack programmer</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta id expedita molestias vitae corrupti deleniti veritatis facilis asperiores dolores tempora? Quis recusandae illo vero blanditiis illum possimus quae ex adipisci.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit provident mollitia, voluptatibus delectus nihil dignissimos omnis eveniet, asperiores neque incidunt facere eaque vero alias, numquam ad ex odit dolores ratione!</p>
    </div>

    <div class="d-flex justify-content-center align-items-center gap-2 mt-4">
        <a class="text-dark" href="https://github.com/joaoeduardo2701/"target="_blank">
            <i class="bi bi-github fs-1"></i>
        </a>

        <a class="text-dark" href="https://github.com/joaoeduardo2701/" target="_blank">
            <i class="bi bi-linkedin fs-1"></i>
        </a>

        <a class="btn btn-lg btn-success rounded-5 px-5" href="https://api.whatsapp.com/send?phone=5549999664798&text=Olá,%20gostaria%20de%20fazer%20um%20orçamento.
" target="_blank">Contato via WhatsApp</a>
    </div>
</section>
